version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: quarterly
    cooldown:
      default-days: 30
    assignees:
      - sergeii
    commit-message:
      prefix: chore
    groups:
      actions:
        applies-to: version-updates
        dependency-type: production
  - package-ecosystem: docker
    directories:
      - dockerfile/dev
      - dockerfile/prod
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    assignees:
      - sergeii
    commit-message:
      prefix: feat
    groups:
      dockerfile-python:
        applies-to: version-updates
        patterns:
          - python
    ignore:
      - dependency-name: python
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    assignees:
      - sergeii
    commit-message:
      prefix: feat
    groups:
      dependencies:
        applies-to: version-updates
        dependency-type: production
        update-types:
          - minor
          - patch
      dev-dependencies:
        applies-to: version-updates
        dependency-type: development
