Django
IPy
South
Unipath
django-aggregate-if
django-cacheops
django-countries
django-redis
mock
psycopg2
python-dateutil
-e git+https://github.com/sergeii/python-julia.git#egg=python-julia
-e git+https://github.com/sergeii/python-serverquery.git#egg=python-serverquery
-e git+https://github.com/sergeii/python-whois.git#egg=python-whois
pytz
redis
requests
simplejson
six
sqlparse
uWSGI
