Django
IPy
South
Unipath
django-aggregate-if
django-cacheops
django-countries
django-redis
mock
psycopg2
python-dateutil
-e git+git@swat4stats.com:python/python-julia.git#egg=python-julia
-e git+git@swat4stats.com:python/python-serverquery.git#egg=python-serverquery
-e git+git@swat4stats.com:python/python-whois.git#egg=python-whois
pytz
redis
requests
simplejson
six
sqlparse
uWSGI
