{% load i18n %}

{% blocktrans %}
One player on the SWAT team is randomly chosen to be the VIP.  SWAT must escort the VIP to the escape point on the other side of the map.  The suspects must capture the VIP. They must then hold him hostage for 2 minutes.  SWAT players can use the toolkit to release the VIP.  After the two minutes are up, the suspects must assassinate the VIP to win the game.

SWAT wins if the VIP escapes, or if the suspects kill the VIP before capturing and holding him.
{% endblocktrans %}
