{% load static tracker i18n %}
<a class="swat-game-frame" href="{% game_url game %}">
    <div class="swat-game-frame-inner">
        <p class="swat-game-frame-image" style="background-image: url('{% get_static_prefix %}images/game/maps/preview/{{ game.mapname }}.jpg');"><!--{{ game.mapname }}--></p>
        {% if not simple %}
        <p class="swat-game-frame-ileft">{{ score_readable }}</p>
        <p class="swat-game-frame-iright">{{ game.gametype|gametype_short }}</p>
        {% endif %}
    </div>
    {% if desc %}<div class="swat-game-frame-desc">{{ desc }}</div>{% endif %}
</a>
