{% extends "tracker/layout/nonmain.html" %}
{% load static tracker %}

{% block swat_frame_content %}
    <div class="swat-chapter">
        <div class="header">
            {% block swat_chapter_header %}
            <div class="title"><div class="swat-heading">{% block swat_chapter_title %}{% endblock swat_chapter_title %}</div></div>
            {% endblock swat_chapter_header %}
            <div class="message">{% block swat_chapter_message %}{% endblock swat_chapter_message %}</div>
        </div>
        <div class="inner">{% block swat_chapter_content %}{% endblock swat_chapter_content %}</div>
    </div>
{% endblock swat_frame_content %}