{% extends "tracker/layout/nonmain.html" %}
{% load static tracker humanize i18n %}

{% block title %}{{ block.super }}{{ game.mapname|mapname }} at {{ game.date_finished }}{% endblock %}

{% block swat_header_upper %}{{ block.super }}<div id="swat-server-name" class="strong">{{ game.server }}</div>{% endblock %}

{% block swat_status %}{{ game.date_finished }}{% endblock %}

{% block swat_bottom_right %}
    <div class="swat-button-active">{% trans "Scores" %}</div>
    <a href="{% server_url game.server %}" class="swat-sound-trigger swat-button-arrow-right">{% trans "Server" %}</a>
{% endblock %}

{% block swat_frame_background_url %}{% get_static_prefix %}images/game/maps/background/{{ game.mapname }}.png{% endblock %}

{% block swat_frame_outer %}<div id="swat-frame-outer-fixed">{% block swat_frame_inner %}<div id="swat-frame-inner">{% block swat_frame %}{% endblock %}</div>{% endblock %}</div>{% endblock %}
