{% load tracker i18n %}

<div class="swat-team-table">
    <div class="table-header">
        <div class="player-cell-name">{% if team == 0 %}{% trans "Officer" %}{% else %}{% trans "Suspect" %}{% endif %}</div>
        <div class="player-cell-score"></div>
        <div class="player-cell-arrests"></div>
        <div class="player-cell-arrested"></div>
        <div class="player-cell-kills"></div>
        <div class="player-cell-deaths"></div>
        <div class="player-cell-objectives"></div>
        <div class="player-cell-country">&nbsp;</div>
    </div>
    {% for player in players %}
    <div class="table-row spaceless middle swat-player-row" onclick="window.location.href='{% profile_url player.profile year=game.date_finished.year %}';">
        <div class="player-cell-name"><a class="{% if player.vip %} swat-green{% endif %}" href="{% profile_url player.profile year=game.date_finished.year %}">{{ player.name|truncatechars:30 }}{% if player.vip %} ({% trans "VIP" %}){% endif %}</a></div>
        <div>{{ player.score }}</div>
        <div>{{ player.arrests }}</div>
        <div>{{ player.arrested }}</div>
        <div>{{ player.kills }}</div>
        <div>{{ player.deaths }}</div>
        <div>{{ player.special }}</div>
        <div class="player-cell-country space-left space-right">{% show_country player.country %}</div>
    </div>
    {% endfor %}
    <div class="table-row empty">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="table-cell-small"></div>
    </div>
</div>
