{% extends "tracker/layout/chapter.html" %}
{% load static tracker humanize i18n %}

{% block title %}{{ block.super}}{% trans "Leaderboard" context "nav" %}{% endblock %}
{% block swat_chapter_title %}{% trans "Leaderboard" context "nav" %}{% endblock %}

{% block swat_chapter_content %}

<div style="position: relative;">
    {% if page_obj.paginator.count %}
    <div style="position: absolute; left: 20%; top: -0.25em; margin-left: 1em;">
        <div class="swat-page-range">
            {% if page_obj.has_previous %}<a class="swat-page-previous" href="?{{ filters.urlencode }}&page={{ page_obj.previous_page_number }}">&nbsp;</a>{% endif %}
            {{ page_obj.end_index }}/{{ page_obj.paginator.count }}
            {% if page_obj.has_next %}<a class="swat-page-next" href="?{{ filters.urlencode }}&page={{ page_obj.next_page_number }}">&nbsp;</a>{% endif %}
        </div>
    </div>
    {% endif %}
    <div class="swat-tab-block-right">
        {% for available_year in years %}
            {% ifequal available_year year %}
                <div class="swat-sound-trigger swat-tab-button-active">{{ available_year }}</div> 
            {% else %}
                <a class="swat-sound-trigger swat-tab-button" href="{% url 'tracker:board_list' board_name=board.0 year=available_year %}">{{ available_year }}</a> 
            {% endifequal %}
        {% endfor %}
    </div>
</div>

<div class="swat-chapter-pane-container floatfix clearfix">

    <div class="swat-chapter-pane-small">
        <div class="swat-text-box-title">Leaderboards</div>
        <div class="swat-chapter-pane-content-titled">
            {% for category,board_list in boards %}
                <div class="swat-board-category"><span class="js-link js-toggle-display" data-target="#category_{{ forloop.counter }}">{{ category }}</span></div>
                <div id="category_{{ forloop.counter }}" class="swat-board-list{% for b in board_list %}{% ifequal board.0 b.0 %} unhidden{% endifequal %}{% endfor %}">
                {% for board_detail in board_list %}
                    <a class="swat-sound-trigger swat-board block swat-player-row{% ifequal board.0 board_detail.0 %} active{% endifequal %}" href="{% url 'tracker:board_list' year=year board_name=board_detail.0 %}">{{ board_detail.1 }}</a>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="swat-chapter-pane-main">
        <div class="swat-chapter-pane-main-inner">
            <div class="swat-chapter-pane-content">
                <div class="table width100">
                    {% for rank in rank_list %}
                        {% if forloop.first %}
                        <div class="table-header-spaceful">
                            <div></div>
                            <div class="left gray">Player</div>
                            <div class="center gray">Points</div>
                            <div class="right gray">Last Played</div>
                        </div>
                        {% endif %}
                        <div class="table-row-spaceful swat-player-row {% cycle '' 'swat-player-row-odd' %}" onclick="window.location='{% profile_url rank.profile %}';">
                            <div class="table-cell-small left gray space-right">{{ forloop.counter0|add:page_obj.start_index }}</div>
                            <div class="left"><a href="{% profile_url rank.profile%}">{% show_country rank.profile.country %} {{ rank.profile.name }}</a></div>
                            <div class="center" style="width: 10%;">
                                {% ifequal board.3 "float" %}{{ rank.points|floatformat:2 }}{% endifequal %}
                                {% ifequal board.3 "int" %}{{ rank.points|floatformat:0|intcomma }}{% endifequal %}
                                {% ifequal board.3 "time" %}{{ rank.points|humantime }}{% endifequal %}
                                {% ifequal board.3 "hours" %}{{ rank.points|humanhours }}{% endifequal %}
                            </div>
                            <div class="right" style="width: 25%;">{{ rank.profile.last_seen|naturaltime }}</div>
                        </div>
                    {% empty %}
                        <div class="center">{% trans "No data available." context "rank" %}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}