{% extends "tracker/layout/base.html" %}
{% load i18n staticfiles static tracker humanize %}

{% block title %}{{ block.super }}{% trans "Main" context "chapters" %}{% endblock %}

{% block head_script %}
{{ block.super }}
$(document).ready(function(){
    // start playing random chatter sounds
    (function playChatter(){
        var delay = (Math.floor(Math.random()*16)+12);  // play the next chatter in random seconds
        setTimeout(function(){
            var chatter = Math.floor(Math.random()*10);  // pick a random chatter from 0 to 10
            document.playback('{% get_static_prefix %}sounds/chatter/radiochatter' + chatter + '.ogg', {volume: '0.5'});
            console.log('Playing ' + chatter + ' now. Next in ' + delay + ' seconds.')
            playChatter();
        }, delay*1000);
    })();
    document.playback('{% static "sounds/main.ogg" %}', {loop:'loop', volume: '0.2'});
});
{% endblock %}

{% block swat_frame_inner %}
<div id="swat-frame-inner" class="floatfix clearfix">
{% block swat_frame %}

<div id="swat-menu">

    <div id="swat-title">SWAT4</div>

    <ul>
        <p class="swat-menu-gray-thing"><!--PLAYER CHARTS-->consectetur adipiscing</p>

        <li><a class="swat-sound-trigger swat-menu-heading" href="{% url 'tracker:top_list' %}">{% trans "TOP 20" context "nav" %}</a></li>
        <li class="swat-menu-description">
            <!--Highest ranked players-->Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </li>

        <li><a class="swat-sound-trigger swat-menu-heading" href="{% url 'tracker:board_list' %}">Leaderboard</a></li>
        <li class="swat-menu-description">
            <!--Top scorer players of all time-->Vivamus in nibh vel enim sagittis condimentum.
        </li>

        <p class="swat-menu-gray-thing"><!--GENERAL STATISTICS-->dolor sit amet</p>

        <li><a class="swat-sound-trigger swat-menu-heading" href="{% url 'tracker:game_list' %}">GAMES</a></li>
        <li class="swat-menu-description">
            <!--Complete gameplay history-->Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </li>
        <li><a class="swat-sound-trigger swat-menu-heading" href="#">Statistics</a></li>
        <li class="swat-menu-description">
            <!--Previously the best players-->Duis consectetur lorem sed turpis tincidunt, sit amet sodales lectus. 
        </li>

        <p class="swat-menu-gray-thing"><!--PLAY ONLINE-->laoreet a posuere at</p>

        <li><a class="swat-sound-trigger swat-menu-heading" href="{% url 'tracker:server_list' %}">Servers</a></li>
        <li class="swat-menu-description">
            <!--List of streaming servers-->Fusce malesuada mi a condimentum molestie.
        </li>
    </ul>

</div>

<div id="swat-main-container">
    <div id="swat-main">

        <div>
            <div class="swat-text-box-content">
                <div class="title-underlined">Welcome aboard!</div>
                <div>
                I am proud to announce that the new SWAT 4 stats tracker that I have been developing for nearly a year has now finally arrived. Please look around, check out the complete game history that has been recorded by the original tracker written by <a href="#">Prophet</a> in 2007. <a href="{% url 'tracker:game_detail' 1 %}">The first recorded game</a> dates back to August, 2007. Let this feature to refresh the good memories :-)
                </div>
                <div style="margin-top: 1em;" class="right">Kind regards, Serge.</div>
            </div>
        </div>

        <div id="main-featured-games">
            <div class="swat-text-box-title">Featured Games</div>
            <div class="swat-text-box-content swat-game-list">
                {% for game in featured_games %}
                    {% show_game game game.date_finished|naturalday %}
                {% empty %}
                    {% trans "No data available." %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
</div>
{% endblock %}