{% load i18n %}

{% blocktrans %}
The shit has really hit the fan. Two gangs, one of them definitely the Stetchkovs, are going toe-to-toe in the Fresnal Street Subway Station. We have reports of multiple suspects, heavily armed and a large number of civilian casualties.

A transit cop named Wilkins called in the incident. He counted at least ten individuals, some armed with assault rifles and wearing body armor. Dispatch lost contact with him shortly after he made the call - he may have been injured.

Witnesses say two groups of men opened fire on one another on the platforms during peak hour. Most of the commuters fled but some were caught in the crossfire. It's likely others are hiding.

After the initial skirmish the suspects split up and moved into the areas surrounding the platforms - maintenance tunnels, restrooms, it's like a maze down there. Spotters are still reporting hearing gunfire, so the fight is still going on.

This has already gone too far. We can't let this go on any longer and risk more civilian casualties, or sit by while innocent people bleed to death. Our task is to shut this thing down; neutralize the suspects, rescue the civvies and help an injured officer. Get your gear together and be ready to go in three minutes.
{% endblocktrans %}
