{% load i18n %}

{% blocktrans %}
Okay, listen up. We've got a shots fired situation. 911 received a call from the owner of the FunTime Amusement Arcade on Gower Street. Detectives from the 12th precinct tell us that the arcade is a known haunt for drug dealers. Witnesses say an argument broke out between Javier Arias, a local dealer and a group of unidentified men. It quickly escalated into violence when Arias' offsiders drew their guns. Looks like we could have a turf war on our hands.

Most of the civilians fled as soon as the shooting started, but some may still be inside. This is a busy arcade at this time of the day, so check your targets. The police are also pretty unpopular in this neighbourhood, so be prepared for resistance from any civilians you encounter.

We've been unable to locate the owner, Oscar Bogard. He may still be trapped inside. His 911 call was cut off abruptly.

We have to put a stop to the shooting, but this is also a chance to put away a lot of bad guys. To do that we need to gain as much evidence as we can. We don't want any of them to flush the drugs they're carrying, particularly Arias.

Choose your equipment and get going.
{% endblocktrans %}
