{% load i18n %}

{% blocktrans %}
Okay, listen up. I know you're tired but we have one more job to do tonight. Following the incident on the subway, Judge Rainer issued an arrest warrant for Kiril Stetchkov, the head of the Stetchkov clan.

The Stetchkov's own a Warehouse on Harrington road and it's reportedly used as a place for clan members to lie low. Undercover surveillance has been watching the building for several days, and they believe Stetchkov and his brother may be there right now. He's likely been hiding out since the attempt on his life two weeks ago.

Our job is to arrest or neutralize all the Stetchkov gang members in the building and to arrest Kiril Stetchkov. With Kiril under wraps, we can restore some order to the city.

The Stetchkovs have already shown that they're willing to take it to the next level. You can expect well-armed, well equipped suspects, and since they'll be fighting on their own turf they'll be less likely to surrender.

Just one more thing. Remember; we're professionals. Check your targets, watch out for your partner and keep your eyes and ears open.

Let's get it right and get it done.
{% endblocktrans %}
