{% load i18n %}

{% blocktrans %}
Listen up. Approximately 45 minutes ago a group known as Citizens Against Satanic Music or 'CASM' stormed a rock concert at the Sellers Street Auditorium. They fired a barrage of shots injuring several audience members and creating a panic. The band, called Devil's Playthings, fled the stage but was closely followed by the suspects. They claim to now have the band hostage.

CASM have long been a vocal opponent of rock music, occasionally clashing with police during protests, but they've never resorted to this level of violence before. They've been sending the band hate mail for some time, and it looks like the band's latest album Die For The Devil pushed them over the edge. They want it taken off store shelves.

These guys aren't hardened criminals - they're sloppy and badly organized, but they're also extremely well equipped. Looks like somebody sold them some guns and they got delusions of grandeur.

Witnesses report seeing at least four suspects armed with automatic weapons and wearing disguises. We're guessing there are several civilians inside either injured or hiding. We're taking the suspects claim that they're holding the band hostage seriously. These guys are nervous amateurs and that makes them more likely to hurt or kill an innocent civilian, either deliberately or accidentally.

Choose your equipment and be ready to move out.
{% endblocktrans %}
