{% load i18n %}

{% blocktrans %}
We're being called up for a rapid deployment at an ongoing shots fired situation at the A-Bomb nightclub. At least four gunmen, likely more, are exchanging shots with each other. They don't appear to be actively attacking civilians, or attempting to hold hostages, although we have reports that there are multiple wounded victims from crossfire. Witness reports are confused, and in some cases conflicting.

We have both Caucasian and Hispanic shooters, shooting along racial lines. All of them appear to be young adult males.

We have two possible entries: the front door, past the ticket booth, and a back alley loading zone. We have a rough sketch of the layout from an off-duty bartender; give it a once over, but don't trust it too much.

Most of the patrons made it out; however, there are still civilians holed up in there. We know some of them are wounded from witness reports. The perimeter is still reporting sporadic gunfire inside, and the paramedics won't go in until we've cleared the building. You need to get in there and bring order to chaos by locating and arresting the gunmen. In addition, you need to locate and secure for evacuation all remaining civilians, especially the wounded. Review the information, choose your entry, and get your gear together. It's time to go to work.
{% endblocktrans %}
