{% load i18n %}

{% blocktrans %}
Let me have your attention team. About two hours ago a group of armed men attempted to rob the post office at the corner of Watts and Lonsdale. They were confronted by an armed security guard and when he opened fire, they ran.

The guard called 911 and a nearby patrol car responded, spotting the suspects on foot on Newbury St. Seems their getaway driver panicked and drove off without them. When the officer ordered them to surrender they opened fire and retreated into a halfway house, Our Sisters of Mercy.

The halfway house provides temporary accommodation for older men, often just out of prison or recently released from mental care. A few of the residents fled once the gunmen entered, but one of the sisters who runs the house says at least six people are unaccounted for. That means any civilians inside may be confused, scared and uncooperative. Check your targets carefully.

The suspects appear well armed but disorganized. The security guard reported seeing at least five individuals carrying automatic rifles and shotguns, and says they may have been wearing body armor. The word on the street is that it's the Stetchkov clan who've provided the guns, but they don't normally handle firearms.

The police negotiator has been trying to communicate with the suspects, but as yet they haven't responded. There's been some sporadic gunfire from within the building, which is why we're going in.

Suit up and get ready.
{% endblocktrans %}
