{% load i18n %}

{% blocktrans %}
Okay men, this one's tricky so pay attention. Three hours ago dispatch received an anonymous tip-off that a new drug lab is operating on Tovanen street. Surveillance has revealed a sophisticated set up - hydroponics, large-scale cooking and drying equipment, this one's got it all.

The anonymous caller claimed that the Stetchkov clan is running the lab. It's likely the caller is a member of an opposing gang and if so, it's a real breach of the unwritten law that says criminals don't snitch on one another. The Stetchkovs must have really ruffled some feathers. Detectives have been trying to locate the head of the clan, one Kiril Stetchkov, but he seems to have disappeared off the map after someone tried to kill him by blowing up his car. Seems he's a popular guy.

Our goal is to shut the lab down and arrest anyone who might help the detectives build a case against the Stetchkovs. Surveillance reports seeing numerous suspects armed with machine pistols and shotguns. Most of the lab isn't visible from outside so we can't be sure of numbers, but be aware that the lab is likely to contain a number of unarmed workers.

The lab has some seriously hazardous substances lying around, so watch your fire. You don't want to breathe in any of this crap, and we sure don't want a fire.
{% endblocktrans %}
