{% load i18n %}

{% blocktrans %}
Okay, quiet down and listen.

The Department of Agriculture has its local offices in the Government Plaza on Geddy Avenue. Approximately 50 minutes ago the building was entered by a group of suspects armed with assault rifles and Improvised Explosive Devices, IEDs.

It appears their plan was to raid the office, plant the bomb and then escape, but someone messed up. The bomb detonated prematurely causing a fire on the lower floor. The fire department attended and tried to contain the fire, but they didn't realize the bad guys were holding hostages on the upper floors. When the fire crew were shot at, they retreated and called the local precinct who called the negotiation team.

It seems these guys are local farmers who have a beef with the government's policies on genetically-modified crops. They appear far better armed than your average farmer. Spotters have reported seeing them carrying M1s and wearing body armor - somebody has sold them their gear, probably the same somebody who sold them the explosives they used.

The negotiators haven't made much headway here. They've traded two hostages for two gas masks, but other than the occasional anti-government rant, contact with the suspects has been minimal.

They haven't made any direct threats against the hostages but we're assuming their intent was to empty the building and then destroy it. But considering the clumsiness of their actions so far, we're not waiting for them to make another mistake and get someone killed.

Choose your gear and get ready to deploy.
{% endblocktrans %}
