{% load i18n %}

{% blocktrans %}
Get ready, men, this is a tough one. Our target Lawrence Fairfax is the number one suspect in a string of grisly homicides. A bit of review: over the last year and a half, seven women, all of them studying at the state university, disappeared. Their remains, showing signs of torture and dismemberment, reappeared anywhere from a week to three weeks later. The killer was careful; the task force forensic team was unable to get a useful DNA match from any of the bodies.

That changed with the most recent find. Another victim was located earlier this morning by a local laborer. Some of the DNA scrapings from her nails match one of the men being investigated by the task force: Lawrence Fairfax.

There's a complication: another student, Melinda Kline, went missing sometime around 2000 on October 18th. That was six days ago. If Fairfax has her, and if he's following the profile, chances are good she's still alive. Rescuing her is your first priority, which is why we're going in with no warning.

About our suspect. Fairfax is employed as a temporary carpenter and works off and on at the University. No police record, but court records show a pair of expired restraining orders against him. He's been suspended from a recent jobsite for stealing supplies. Fairfax's coworkers don't say much about him; he keeps to himself. He's been at the law library multiple times, most notably on the days before the disappearance of three of our victims, including Melinda Kline. A police interview with him was inconclusive; but the detective responsible did acquire a DNA sample from a used tissue.

Fairfax was seeing a psychiatrist when he was laid off; we've been unable to access his records. The psych warned us that Fairfax may have fortified his living areas. Be alert for traps, especially in spaces only Fairfax uses. He lives with his mother, Gladys Fairfax. She's a recluse, and due to health problems rarely leaves the house. We don't have reason to believe she's involved, but stay on your toes.

Fellas, seconds may be the difference between life and death for Melinda Kline. Study the layout, choose your gear, get moving.
{% endblocktrans %}
