{% load i18n %}

{% blocktrans %}
This one's a little sticky. Vice has been keeping an eye on Northside Vending and Amusements for the last three or four weeks. They've been building a case against an alleged bookmaking operation going on in the basement of the business. Undercover detective Jeremy Walsh has been working closely with the suspects, and today received an invitation to enter the bookmaking area.

All went smoothly until Walsh was out of sight. Walsh's wire reported that he was still talking to the suspects, who showed no evidence of suspecting him. Less than ten minutes later, there was a sudden burst of static, and then Walsh's wire went dead. If everything was going as expected, Walsh would already be back, since he was supposed to go in, place one bet, and come right back out. With no way to determine Walsh's actual state, we're assuming he's in danger and it's time to go in after him.

We know at least three individuals are present. The first, Louie Baccus, is the owner of the business. The other two are Allen Kruse and Simon Gowan. Kruse and Gowan are believed to be the movers behind the bookie operation, with Baccus providing cover and space. Vice believes there are additional suspects inside, acting as bookies and runners. Numbers are unknown, but could go as high as ten suspects total. That's one reason Walsh was sent in, to determine the exact number of players.

Kruse and Gowan have extensive records, ranging from petty larceny to assault with a deadly weapon. Assume both are armed and dangerous. Baccus is an unknown, but given his compatriot's histories, better to assume he is armed as well. Note that Walsh's last recorded statement was one of surprise at the size of your setup. Sounded like he was impressed, which can't mean anything too good for us.

We have a layout for the shop, but we don't have anything on the basement. We know it's accessed through the storage areas, but we don't know anything about the bookie's territory. Keep your eyes open; there could be any number of surprises. Time to get Detective Walsh out, and get the suspects under control. Choose your gear carefully and move out.
{% endblocktrans %}
