{% load i18n %}

{% blocktrans %}
We're looking at a barricade/hostage situation, with at least three hostages. Dispatch received a 911 call at around 0600. A commuter pulled in to get gas and pulled out again when she noticed an armed woman coming out the front door. She called 911 on her cell phone. The first officers on the scene observed multiple gunmen, number unclear, and at least one unarmed civilian inside. When the gunmen threatened the civilian, they backed off and set up a perimeter.

So far we have one likely ID: Alice Jenkins. She's been in rehab for oxycodone addiction. Oxycodone is an opiate similar to heroin, equally addictive. It's prescribed legally as a Schedule II drug, making it possible for any idiot with a falsely obtained prescription to turn dealer. It sells for up to eighty dollars a pop on the street.

Knowing Jenkins, this is probably a bungled robbery for drug money, possibly related to a rash of recent convenience store hits. She and her cronies didn't intend to take any hostages, and they don't know what to do with them. That makes them more dangerous, since we can't predict what they might do, and they've stopped talking to the negotiator. Given their erratic behavior, at least some of the suspects may be high. They are armed with handguns, and we have visual confirmation of three suspects so far. There may be more.

As far as the hostages go, we believe there are three: Kim Dong Yin, Heidi Rosenstein, and Willis Fischer, employees at the station. There might be additional customers, but it's unlikely. Be extremely careful when you go in. You will have high ground support at your two entry options. Given the recent spate of gunfire, we can't wait any longer; it's time for a tactical solution. Study the situation, gear up, and let's move.
{% endblocktrans %}
