{% load i18n %}

{% blocktrans %}
Alright, men, we have an international incident on our hands. Hyun-Jun Park is a South Korean diplomat. Earlier today he was attacked by six gunmen while exiting a restaurant. Mr. Park was injured in the attack, although his personal security got him to safety. The gunmen escaped after the initial attack. Mr. Park was routed to St. Michael's Medical Center for emergency treatment. Since there wasn't time to secure the hospital, Mr. Park's security accompanied him into the patient ward.

Mr. Park is one of the senior officials attached to the South Korean embassy; he has been addressing the United Nations for the last two days during the current round of reunification talks. Mr. Park is a major advocate in favor of reunification; he is one of the primary voices in the South Korean delegation. We assume this attack is related to his political intentions, but we don't know who was behind it. Whoever they were, they were very well equipped and well organized, ambushing Mr. Park in a location not on his official travel itinerary.

Now St. Michael's has been rushed by a group of gunmen; presumably the same ones who attacked Mr. Park earlier. They are well armed, and are moving straight through the hospital in an attempt to locate their target. They are not interested in taking hostages, and they've been brutal in their attack on the hospital. Choose your entry, get your gear together, and get in there.
{% endblocktrans %}
