{% load i18n %}

{% blocktrans %}
Here's what we've got. We are needed for rapid deployment at 29th and Arlington, the Victory Imports Auto Garage. Looks like a botched vehicle theft has turned into a barricaded situation.

32 Adam, responding to a 911 call, interrupted two individuals in the process of stealing a car. Upon being ordered to surrender, they fired upon the officers and retreated into the main building. Precise numbers are unknown, but patrol reports seeing at least 4 individuals, all male. They're armed, and we believe some of them have machine guns. In addition, they have a hostage in there with them: Gary Altman. Altman is a mechanic for Victory Imports, and was apparently working late. He's the one who placed the initial 911 call, which was cut off short. Further attempts to contact him have failed.

We don't have a positive ID on the suspects at this time. Patrol reports seeing young men, late teens to early twenties, light skinned, wearing street clothes; jeans and shirts -- but we don't have sufficient evidence to confirm any specifics. As far as M.O. goes, this particular theft is a new one. No local garages have reported similar raids. Looks like we get to nip this one in the bud.

Patrol attempted to call them out, and got no response other than scattered gunfire. However, once the negotiators contacted them, they were more willing to talk. They've requested food and body armor; both requests have been denied since they're either unwilling or unable to free Altman. At 0330, the suspects issued an ultimatum demanding to be allowed to go free. Further communications with the suspects have gotten shorter and more strident. Negotiations are at an impasse, and they're concerned for Altman's safety, since it looks like the suspects are getting desperate. Time for us to end the standoff.
{% endblocktrans %}
