{% extends "tracker/layout/nonmain.html" %}
{% load static tracker humanize i18n %}

{% block title %}{{ block.super }}{{ game.mapname|mapname }}, {{ game.date_finished }}{% endblock %}

{% block swat_header_upper %}
{{ block.super }}<div id="swat-server-title">{{ game.server.name }}</div>
{% endblock %}

{% block swat_status %}{{ game.date_finished }}{% endblock %}

{% block swat_top_right %}
    <a href="{% url 'tracker:game_list_history' %}" class="swat-button-cross">{% trans "Quit" %}</a>
{% endblock %}

{% block swat_bottom_right %}
{% spaceless %}
<div class="swat-button-bar">
    {% if game.server.listed %}
    <a href="{% server_url game.server %}" class="swat-button">{% trans "Server" %}</a>
    {% endif %}
    <div class="swat-button active">{% trans "Scores" %}</div>
    {% if games_close.previous %}
        <a class="swat-button-arrow-left" href="{% game_url games_close.previous %}">{% trans "Previous Game" %}</a>
    {% else %}
        <div class="swat-button-arrow-left swat-button inactive">{% trans "Previous Game" %}</div>
    {% endif %}
    {% if games_close.next %}
        <a class="swat-button-arrow-right" href="{% game_url games_close.next %}">{% trans "Next Game" %}</a>
    {% else %}
        <div class="swat-button-arrow-right inactive">{% trans "Next Game" %}</div>
    {% endif %}
</div>
{% endspaceless %}
{% endblock %}

{% block background %}{% get_static_prefix %}images/game/maps/background/{{ game.mapname }}.jpg{% endblock background %}

{% block swat_footer %}
{{ block.super }}
<div id="swat-game-timer">
    <div class="swat-status-text"></div>
    <div class="swat-timer">{{ game.time|swattime }}</div>
</div>
{% endblock %}

{% block swat_frame %}
<div class="inner fixed">
    {% block swat_frame_content %}{{ block.super }}{% endblock swat_frame_content %}
</div>
{% endblock swat_frame %}
