{% extends "tracker/layout/chapter.html" %}
{% load tracker humanize i18n %}

{% block title %}{% trans "Games" %}{% endblock %}
{% block swat_chapter_title %}{% trans "Games" %}{% endblock %}

{% block swat_chapter_content %}
<div class="swat-chapter-pane-container">
    <div class="swat-chapter-pane width75 left">
        <div class="float">
            <div class="left">
                <div class="swat-tab-block left">
                    <a class="swat-tab-button{% ifequal current_view_name 'tracker:game_list_history' %} active{% endifequal %}" href="{% url 'tracker:game_list_history' %}">{% trans "History" %}</a> 
                    <a class="swat-tab-button{% ifequal current_view_name 'tracker:game_list_online' %} active{% endifequal %}" href="{% url 'tracker:game_list_online' %}">{% trans "Online" %}</a> 
                </div>
            </div>
            <div class="right">
                {% if page_obj.paginator.count %}
                    {% include "tracker/includes/pagination.html" with filters=filters page_obj=page_obj only %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="swat-chapter-pane-container">
    <div class="swat-chapter-pane width75 left">{% block swat_game_list %}{% endblock %}</div>
    <div class="swat-chapter-pane width25">
        <div class="swat-box">
            <div class="header">{% trans "Featured Games" %}</div>
            <div class="inner swat-game-list-featured">
                {% for object in featured %}
                    <div class="nowrap">{{ object.mapname|mapname }}, {{ object.gametype|gametype }}</div>
                    <div class="gray space-bottom">{{ object.date_finished|naturalday }}</div>
                    <div class="space-bottom bigger">{% show_game_light object %}</div>
                {% empty %}
                    <div class="center">{% trans "No games found." %}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="swat-chapter-pane-container space-top small">
    <div class="swat-chapter-pane width75 left">
        <div class="float">
            <div class="right">
                {% if page_obj.paginator.count %}
                    {% include "tracker/includes/pagination.html" with filters=filters page_obj=page_obj only %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock swat_chapter_content %}