{% extends "tracker/chapters/server/layout/base_detail.html" %}
{% load static tracker humanize i18n %}

{% block swat_frame_content %}

<div class="swat-game-score-pane">
    <div class="inner">
        <div class="block block-chat">
            <div class="swat-box">
                <div class="inner">{# chat box #}</div>
            </div>
        </div>
        <div class="block block-team-table">
            <ul class="title undecorated float swat-status-text">
                <li class="left space-right">{% blocktrans with team=_("SWAT") score=status.score_swat|default:0 %} {{ team }}: {{ score }}{% endblocktrans %}</li>
                <li class="left space-left">{% blocktrans with number=status.vict_swat|default:0 %} Rounds won: {{ number }}{% endblocktrans %}</li>
            </ul>
            <div>
                {% include "tracker/chapters/server/includes/team.html" with team=0 game=game players=players_blue only %}
            </div>
        </div>
    </div>
</div>

<div class="swat-game-score-pane">
    <div class="inner">
        <div class="block block-chat">
            <div class="swat-box">
                <div class="header">
                    <div class="float">
                        <div class="left">{{ status.mapname|mapname }}</div>
                        <div class="right">{% blocktrans with mode=status.gametype|gametype %}Mode: {{ mode }}{% endblocktrans %}</div>
                    </div>
                </div>
                <div class="inner scrollable height100 keep-scroll-position">
                    <div class="text">
                    {% filter linebreaksbr %}{% include "tracker/includes/rules.html" with gametype=status.gametype_translated only %}{% endfilter %}
                    </div>
                </div>
            </div>
        </div>
        <div class="block block-team-table">
            <ul class="title undecorated float swat-status-text">
                <li class="left space-right">{% blocktrans with team=_("Suspects") score=status.score_sus|default:0 %} {{ team }}: {{ score }}{% endblocktrans %}</li>
                <li class="left space-left">{% blocktrans with number=status.vict_sus|default:0 %} Rounds won: {{ number }}{% endblocktrans %}</li>
            </ul>
            <div>
                {% include "tracker/chapters/server/includes/team.html" with team=1 game=game players=players_red only %}
            </div>
        </div>
    </div>
</div>

{% endblock swat_frame_content %}