{% extends "tracker/layout/chapter_fixed.html" %}
{% load static tracker humanize i18n %}

{% block head_script %}
{{ block.super }}

$(document).ready(function(){

    (function fetchServers(){
        setTimeout(
            function(){
                $.ajax({
                    url: '{% url 'tracker:server_list_ajax' %}?' + $.param(JSON.parse('{{ form.cleaned_data|tojson|escapejs }}')),
                    success: function(data){
                        $('#server-list').htmlScroll(data);
                    },
                    complete: function(){
                        fetchServers();
                    },
                });
            }, 
            {{ FETCH_INTERVAL }}*1000
        );
        
    })();

    $('#server-filter-window').popup('.sel-server-filter-open');
});
{% endblock %}

{% block title %}{% trans "Servers" %}{% endblock %}

{% block background %}{% static "images/game/maps/background/servers.jpg" %}{% endblock background %}

{% block swat_chapter_title %}{% trans "Servers" %}{% endblock %}

{% block swat_chapter_content %}
<div id="server-list" class="swat-server-table">
{% block server_list  %}
    <div class="inner keep-scroll-position">
        <div class="table-header">
            <div class="server-cell-passworded"></div>
            <div class="server-cell-hostname">{% trans "Server Name" %}</div>
            <div class="server-cell-players">{% trans "Players" %}</div>
            <div class="server-cell-gametype">{% trans "Game Type" %}</div>
            <div class="server-cell-mapname">{% trans "Map Name" %}</div>
            <div class="server-cell-ip">{% trans "IP Address" %}</div>
            <div class="server-cell-gamename">{% trans "Mod" %}</div>
            <div class="server-cell-gamever">{% trans "Ver" %}</div>
            <div class="server-cell-location">&nbsp;</div>
        </div>
        {% for status in object_list %}
            <div class="table-row swat-player-row" onclick="window.location='{% server_url status.server %}';">
                <div{% if status.passworded %} class="server-cell-locked" title="{% trans "Locked" %}"{% endif %}>&nbsp;</div>
                <div><a href="{% server_url status.server %}">{{ status.hostname|format_name }}</a></div>
                <div>{{ status.player_num|default:0 }}/{{ status.player_max|default:0 }}</div>
                <div>{{ status.gametype|gametype }}</div>
                <div>{{ status.mapname|mapname }}</div>
                <div>{{ status.server.ip }}:{{ status.server.port }}</div>
                <div>{{ status.gamename|gamename }}</div>
                <div>{{ status.gamever }}</div>
                <div>{% show_country status.server.country %}</div>
            </div>
        {% endfor %}
        <div class="table-row empty">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
{% endblock server_list %}
</div>

<div id="server-list-button-bar" class="float">

    <!--
    <div class="left swat-button-bar">
        <a href="http://www.gametracker.com/servers/" class="swat-button-white">{% trans "Add Server" %}</a>
    </div>
    -->

    <div class="right swat-button-bar">
        <a href="{% url 'tracker:server_list' %}?{{ filters.urlencode }}" class="swat-button-white">{% trans "Update" %}</a>
        <div class="sel-server-filter-open swat-button-white">{% trans "Filters" %}</div>
    </div>
</div>

<div id="server-filter-window" class="swat-box popup">
<div class="inner">
    <form id="server-filter-form" method="GET" action="{% url 'tracker:server_list' %}">
        <div class="swat-form block-pane-two float">
            <div class="left">
                <div class="swat-input-block">
                    <div class="swat-input-label">{{ form.gamename.label }}</div>
                    <div class="swat-input-inline">
                        <div class="swat-input-checkbox-wrapper">
                            <label>{{ form.filter_gamename }}<span></span></label>
                        </div>
                        <div class="swat-input-select-wrapper">{{ form.gamename }}</div>
                    </div>
                </div>
                <div class="swat-input-block">
                    <div class="swat-input-label">{{ form.gamever.label }}</div>
                    <div class="swat-input-inline">
                        <div class="swat-input-checkbox-wrapper">
                            <label>{{ form.filter_gamever }}<span></span></label>
                        </div>
                        <div class="swat-input-select-wrapper">{{ form.gamever }}</div>
                    </div>
                </div>
                <div class="swat-input-block">
                    <div class="swat-input-label">{{ form.gametype.label }}</div>
                    <div class="swat-input-inline">
                        <div class="swat-input-checkbox-wrapper">
                            <label>{{ form.filter_gametype }}<span></span></label>
                        </div>
                        <div class="swat-input-select-wrapper">{{ form.gametype }}</div>
                    </div>
                </div>
            </div>

            <div class="left">
                <div>
                    <div class="swat-input-block">
                        <div class="swat-input-label">{{ form.filter_empty.label }}</div>
                        <div class="swat-input-checkbox-wrapper">
                            <label>{{ form.filter_empty }}<span></span></label>
                        </div>
                    </div>

                    <div class="swat-input-block">
                        <div class="swat-input-label">{{ form.filter_full.label }}</div>
                        <div class="swat-input-checkbox-wrapper">
                            <label>{{ form.filter_full }}<span></span></label>
                        </div>
                    </div>

                    <div class="swat-input-block">
                        <div class="swat-input-label">{{ form.filter_passworded.label }}</div>
                        <div class="swat-input-checkbox-wrapper">
                            <label>{{ form.filter_passworded }}<span></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-bar float">
            <div class="width50 left">
                <div class="width100 center">
                    <button class="swat-button-submit"></button>
                </div>
            </div>
            <div class="width50 left">
                <div class="width100 center">
                    <div class="sel-server-filter-open swat-button-cancel"></div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>

{% endblock %}
