{% extends "tracker/layout/server.html" %}
{% load static tracker humanize i18n %}

{% block swat_frame %}

<div class="swat-game-score-outer">
    <div class="swat-game-score-inner">
        <div class="swat-game-score-upper">
            <div class="scroll height100 swat-text-box-content">
                {# {{ players_blue }} #}
            </div>
        </div>
        <div class="swat-game-team-outer">
            <ul class="title-undecorated swat-game-team-status">
                <li>{% blocktrans with team=_("SWAT") score=game.score_swat %} {{ team }}: {{ score }}{% endblocktrans %}</li>
                <li>{% blocktrans with number=game.vict_swat %} Rounds won: {{ number }}{% endblocktrans %}</li>
            </ul>
            <div class="swat-game-team-inner">
                {% include "tracker/includes/team_table_online.html" with team=0 game=game players=players_blue only %}
            </div>
        </div>
    </div>
</div>

<div class="swat-game-score-outer">
    <div class="swat-game-score-inner">
        <div class="swat-game-score-upper">
            <div class="swat-text-box-title">
                <div class="swat-game-map-header">
                    <p class="swat-map-game-info">{{ game.mapname|mapname }}</p>
                    <p class="swat-game-mode-info">{% blocktrans with mode=game.gametype|gametype %}Mode: {{ mode }}{% endblocktrans %}</p>
                </div>
            </div>
            <div class="height100 swat-text-box-content">
                {% filter linebreaksbr %}{% include "tracker/includes/rules.html" with gametype=server.status.gametype_translated only %}{% endfilter %}
            </div>
        </div>
        <div class="swat-game-team-outer">
            <ul class="title-undecorated swat-game-team-status">
                <li>{% blocktrans with team=_("Suspects") score=game.score_sus %} {{ team }}: {{ score }}{% endblocktrans %}</li>
                <li>{% blocktrans with number=game.vict_sus %} Rounds won: {{ number }}{% endblocktrans %}</li>
            </ul>
            <div class="swat-game-team-inner">
                {% include "tracker/includes/team_table_online.html" with team=1 game=game players=players_red only %}
            </div>
        </div>
    </div>
</div>

{% endblock %}