{% extends "tracker/layout/chapter.html" %}
{% load tracker humanize i18n %}

{% block title %}{{ block.super }}{{ profile.name }}{% ifnotequal year year_now %} - {{ year }}{% endifnotequal %}{% endblock %}

{% block swat_chapter_header %}
<div id="profile-title">
    <div class="picture">{% show_profile_picture profile %}</div>
    <div class="details">
        <div class="name">{{ profile.name }}</div>
        {% if award %}
            <div class="award">
                {% with leaderboard=award.obj.category|statname %}
                <a class="unstyled" href="{% url 'tracker:leaderboard' board_name=leaderboard year=award.obj.year %}#{{ profile.pk }}">{{ award.title }}</a>
                {% endwith %}
            </div>
        {% endif %}
        {% if years|length > 1 or year != year_now %}
            <div class="year-range left">
                <div class="inner">
                    {% if year_previous %}
                        <a class="previous" href="{% profile_url profile current_view_name year=year_previous %}">&nbsp;</a>
                    {% else %}
                        <a class="previous inactive">&nbsp;</a>
                    {% endif %}
                    <span class="{% ifnotequal year year_now %}gray{% endifnotequal %}">{{ year }}</span>
                    {% if year_next %}
                        <a class="next" href="{% profile_url profile current_view_name year=year_next %}">&nbsp;</a>
                    {% else %}
                        <a class="next inactive">&nbsp;</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock swat_chapter_header %}

{% block swat_chapter_content %}
<div id="profile-tab-bar">
    <div class="swat-tab-block left">
        <a class="swat-tab-button{% ifequal current_view_name 'tracker:profile_overview' %} active{% endifequal %}" href="{% profile_url profile 'tracker:profile_overview' year=year %}">{% trans "Overview" %}</a> 

        <a class="swat-tab-button{% ifequal current_view_name 'tracker:profile_equipment' %} active{% endifequal %}" href="{% profile_url profile 'tracker:profile_equipment' year=year %}">{% trans "Equipment" %}</a>

        <a class="swat-tab-button{% ifequal current_view_name 'tracker:profile_coop' %} active{% endifequal %}" href="{% profile_url profile 'tracker:profile_coop' year=year %}">{% trans "COOP" %}</a>

        <a class="swat-tab-button{% ifequal current_view_name 'tracker:profile_ranking' %} active{% endifequal %}" href="{% profile_url profile 'tracker:profile_ranking' year=year %}">{% trans "Ranking" %}</a>

        <a class="swat-tab-button{% ifequal current_view_name 'tracker:profile_history' %} active{% endifequal %}" href="{% profile_url profile 'tracker:profile_history' year=year %}">{% trans "History" %}</a> 
    </div>
</div>

<div class="width100 height100 table">

    <div id="profile-pane-content" class="table-cell left">
        <div class="border-box swat-box bordered width100">
            <div class="inner">{% block profile_content %}{% endblock %}</div>
        </div>
    </div>

    <div id="profile-pane-activity" class="table-cell left">
        <div id="profile-pane-activity-inner" class="swat-box">
            <div class="header">{% trans "Latest Activity" %}</div>
            <div class="inner">
                <div class="width100">
                    {% spaceless %}
                    {% for game in recent %}
                        {% ifchanged game.gametype game.mapname %}
                            </div>
                            <div class="profile-recent-game-title">
                                <p>{{ game.mapname|mapname }}, {{ game.gametype|gametype }}</p>
                                <p class="gray">{{ game.date_finished|naturaltime }}</p>
                            </div>
                            <div class="profile-recent-game-list">
                        {% endifchanged %}
                            {% show_game_light game %}
                    {% endfor %}
                    {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock swat_chapter_content %}