{% extends "tracker/chapters/profile/layout/base.html" %}
{% load tracker humanize i18n %}

{% block profile_content %}
    <div class="left space-bottom">{% include "tracker/includes/pagination.html" with page_obj=page_obj only %}</div>
    <div class="swat-game-list">
    {% for game in object_list %}
        {% ifchanged game.date_finished.date %}
            <div class="title underlined">{{ game.date_finished.date }}</div>
        {% endifchanged %}
        {% show_game game %}
    {% empty %}
        <div class="left">{% trans "No games found." %}</div>
    {% endfor %}
    </div>
    <div class="left space-top">{% include "tracker/includes/pagination.html" with page_obj=page_obj only %}</div>
{% endblock %}