{% extends "tracker/layout/profile.html" %}
{% load static tracker humanize i18n %}

{% block profile_content %}

    {% if maps %}
    <div class="profile-map-table">
        <div class="table-header">
            <div class="left">{% trans "Map" %}</div>
            <div class="center">{% trans "Best Score" %}</div>
            <div class="center">{% trans "Best Time" %}</div>
            <div class="center">{% trans "Favorite Loadout" %}</div>
        </div>
        {% for map in maps|dictsort:"mapname" %}
            <div class="table-row-middle {% cycle 'swat-player-row-odd' '' %}">
                <div class="left map-picture" style="background-image: url('{% get_static_prefix %}images/game/maps/preview/{{ map.mapname }}.jpg');">
                    <div class="map-title">{{ map.mapname|mapname }}</div>
                </div>
                <div class="center profile-table-cell {% zerohero map.score_best 100 'swat-green' 'swat-red' %}">{{ map.score_best|default:0 }}</div>
                <div class="center profile-table-cell {% zerohero map.time_best 0 '' 'dark-gray' %}">{{ map.time_best|swattime }}</div>
                {% if map.loadout %}
                <div class="center profile-table-cell-coop-equipment">
                        {% show_loadout_picture map.loadout "primary" "nocaption" %}
                        {% show_loadout_picture map.loadout "secondary" "nocaption" %}
                        {% show_loadout_picture map.loadout "equip_one" "nocaption" %}
                        {% show_loadout_picture map.loadout "equip_two" "nocaption" %}
                        {% show_loadout_picture map.loadout "equip_three" "nocaption" %}
                        {% show_loadout_picture map.loadout "equip_four" "nocaption" %}
                        {% show_loadout_picture map.loadout "equip_five" "nocaption" %}
                </div>
                {% else %}
                    <div class="center dark-gray">{% trans "n/a" %}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="swat-content-delimiter"></div>

    {% endif %}

    <div class="clearfix floatfix" class="width100">
        <div class="profile-stats-block-coop first">
            <div class="table width100">
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Score" %}</div>
                    <div class="right">{{ stats.coop_score|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Time Played" %}</div>
                    <div class="right">{{ stats.coop_time|humantime }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Missions Attempted" %}</div>
                    <div class="right">{{ stats.coop_games|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Missions Completed" %}</div>
                    <div class="right">{{ stats.coop_wins|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Missions Failed" %}</div>
                    <div class="right">{{ stats.coop_losses|floatformat:0|intcomma }}</div>
                </div>
            </div>
        </div>

        <div class="profile-stats-block-coop">
            <div class="table width100">
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Civilians Arrested" %}</div>
                    <div class="right">{{ stats.coop_hostage_arrests|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Suspects Arrested" %}</div>
                    <div class="right">{{ stats.coop_enemy_arrests|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Suspects Incapacitated" %}</div>
                    <div class="right">{{ stats.coop_enemy_incaps|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Suspects Neutralized" %}</div>
                    <div class="right">{{ stats.coop_enemy_kills|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Deaths" %}</div>
                    <div class="right">{{ stats.coop_deaths|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "TOC Status Reports" %}</div>
                    <div class="right">{{ stats.coop_toc_reports|floatformat:0|intcomma }}</div>
                </div>
            </div>
        </div>

        <div class="profile-stats-block-coop">
            <div class="table width100">
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Civilians Injured" %}</div>
                    <div class="right">{{ stats.coop_hostage_hits|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Civilians Incapacitated" %}</div>
                    <div class="right">{{ stats.coop_hostage_incaps|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Civilians Killed" %}</div>
                    <div class="right">{{ stats.coop_hostage_kills|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Officers Injured" %}</div>
                    <div class="right">{{ stats.ammo_teamhits|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Officers Incapacitated" %}</div>
                    <div class="right">{{ stats.coop_teamkills|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Suspects Incapacitated" %}</div>
                    <div class="right">{{ stats.coop_enemy_incaps_invalid|floatformat:0|intcomma }}</div>
                </div>
                <div class="table-row-spaceful">
                    <div class="gray left nowrap">{% trans "Suspects Killed" %}</div>
                    <div class="right">{{ stats.coop_enemy_kills_invalid|floatformat:0|intcomma }}</div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}