{% extends "tracker/layout/profile.html" %}
{% load static tracker humanize i18n %}

{% block profile_content %}
    
    {% if weapons %}

    <div class="title-underlined">{% trans "Weapons" %}</div>

    <div class="profile-weapon-table">

        <div class="table-header">
            <div class="left">{% trans "Weapon" %}</div>
            <div>{% trans "Kills" %}</div>
            <div class="center">{% trans "Shots" %}</div>
            <div class="center">{% trans "Hits" %}</div>
            <div class="center">{% trans "Accuracy" %}</div>
            <div class="center">{% trans "Team Kills" %}</div>
            <div class="center">{% trans "Team Hits" %}</div>
            <div class="center">{% trans "Longest Kill" %}</div>
        </div>

    {% for weapon in weapons %}
        <div id="{{ weapon.name }}" class="table-row-middle {% cycle 'swat-player-row-odd' '' %}">
            <div class="left weapon-picture" style="background-image: url('{% get_static_prefix %}images/game/weapons/item{{ weapon.name }}.png');">
                <div class="weapon-title">{{ weapon.name|weapon }}</div>
            </div>
            <div class="profile-table-cell {% zerohero weapon.kills weapons_best.kills 'swat-green' 'dark-gray' %}">{{ weapon.kills|intcomma }}</div>
            <div class="profile-table-cell {% zerohero weapon.shots weapons_best.shots 'swat-green' 'dark-gray' %}">{{ weapon.shots|intcomma }}</div>
            <div class="profile-table-cell {% zerohero weapon.hits weapons_best.hits 'swat-green' 'dark-gray' %}">{{ weapon.hits|intcomma }}</div>
            <div class="profile-table-cell {% zerohero weapon.accuracy weapons_best.accuracy 'swat-green' 'dark-gray' %}">{{ weapon.accuracy|accuracy }}%</div>
            <div class="profile-table-cell {% zerohero weapon.teamkills weapons_best.teamkills 'swat-green' 'dark-gray' %}">{{ weapon.teamkills|intcomma }}</div>
            <div class="profile-table-cell {% zerohero weapon.teamhits weapons_best.teamhits 'swat-green' 'dark-gray' %}">{{ weapon.teamhits|intcomma }}</div>
            <div class="profile-table-cell {% zerohero weapon.distance weapons_best.distance 'swat-green' 'dark-gray' %}">{{ weapon.distance }}m</div>
        </div>
    {% endfor %}
    </div>
    {% endif %}

    {% if tactical %}

    <div class="title-underlined">{% trans "Tactical Equipment" %}</div>

    <div class="profile-equipment-table">

        <div class="table-header">
            <div class="left">{% trans "Item" %}</div>
            <div class="center" >{% trans "Deployed" %}</div>
            <div class="center" >{% trans "Hits" %}</div>
            <div class="center" >{% trans "Accuracy" %}</div>
            <div class="center" >{% trans "Team Hits" %}</div>
            <div class="center" >{% trans "Time Held" %}</div>
        </div>

        {% for weapon in tactical %}
            <div id="{{ weapon.name }}" name="{{ weapon.name }}" class="table-row-middle {% cycle 'swat-player-row-odd' '' %}">
                <div class="left weapon-picture" style="background-image: url('{% get_static_prefix %}images/game/weapons/square{{ weapon.name }}.png');">
                    <div class="weapon-title">{{ weapon.name|weapon }}</div>
                </div>
                <div class="profile-table-cell {% zerohero weapon.shots tactical_best.shots 'swat-green' 'dark-gray' %}">{{ weapon.shots|intcomma }}</div>
                <div class="profile-table-cell {% zerohero weapon.hits tactical_best.hits 'swat-green' 'dark-gray' %}">{{ weapon.hits|intcomma }}</div>
                <div class="profile-table-cell {% zerohero weapon.accuracy tactical_best.accuracy 'swat-green' 'dark-gray' %}">{{ weapon.accuracy|accuracy }}%</div>
                <div class="profile-table-cell {% zerohero weapon.teamhits tactical_best.teamhits 'swat-green' 'dark-gray' %}">{{ weapon.teamhits|intcomma }}</div>
                <div class="profile-table-cell {% zerohero weapon.time tactical_best.time 'swat-green' 'dark-gray' %}">{{ weapon.time|humantime }}</div>
            </div>
        {% endfor %}

    </div>

    {% endif %}

    <div class="title-underlined">{% trans "Favourite Loadout" %}</div>
    <div class="left">
        {% if loadout %}
            <div class="profile-fav-loadout-row">
                <div>
                    <div class="title-undecorated">{% trans "Primary Weapon" %}</div>
                    <div>{% show_loadout_picture loadout "primary" %}</div>
                </div>
                <div>
                    <div class="title-undecorated">{% trans "Secondary Weapon" %}</div>
                    <div>{% show_loadout_picture loadout "secondary" %}</div>
                </div>
            </div>
            <div class="width100 left">
                <div class="title-undecorated">{% trans "Tactical Equipment" %}</div>
                <div class="profile-fav-loadout-row">
                    <div>{% show_loadout_picture loadout "equip_one" %}</div>
                    <div>{% show_loadout_picture loadout "equip_two" %}</div>
                    <div>{% show_loadout_picture loadout "equip_three" %}</div>
                    <div>{% show_loadout_picture loadout "equip_four" %}</div>
                    <div>{% show_loadout_picture loadout "equip_five" %}</div>
                    <div>{% show_loadout_picture loadout "breacher" %}</div>
                </div>
            </div>
            <div class="profile-fav-loadout-row">
                <div>
                    <div class="title-undecorated">{% trans "Head Armor" %}</div>
                    <div>{% show_loadout_picture loadout "head" %}</div>
                </div>
                <div>
                    <div class="title-undecorated">{% trans "Body Armor" %}</div>
                    <div>{% show_loadout_picture loadout "body" %}</div>
                </div>
            </div>
        {% else %}
            {% blocktrans with name=profile.name %}{{ name }} has never equipped anything.{% endblocktrans %}
        {% endif %}
    </div>

{% endblock %}