{% extends "tracker/layout/base.html" %}
{% load i18n staticfiles static tracker humanize django_markdown %}

{% block title %}{% trans "Main" %}{% endblock %}

{% block swat_frame_content %}

<div id="swat-menu">
    <div id="swat-logo">&nbsp;</div>
    <ul>
        <p class="swat-menu-gray-thing">{% filter upper %}{% trans "Player Chart" %}{% endfilter %}</p>

        <li><a class="swat-menu-heading" href="{% url 'tracker:top' %}">{% trans "TOP 20" %}</a></li>
        <li class="swat-menu-description">{% trans "Praise the most notable players of the year." %}</li>

        <li><a class="swat-menu-heading" href="{% url 'tracker:leaderboard' %}">{% trans "Leaderboard" %}</a></li>
        <li class="swat-menu-description">{% trans "See the current year player standings." %}</li>

        <p class="swat-menu-gray-thing">{% filter upper %}{% trans "Multiplayer Game" %}{% endfilter %}</p>

        <li><a class="swat-menu-heading" href="{% url 'tracker:game_list' %}">{% trans "Games" %}</a></li>
        <li class="swat-menu-description">{% trans "Check out game report history." %}</li>

        <li><a class="swat-menu-heading" href="{% url 'tracker:server_list' %}">{% trans "Servers" %}</a></li>
        <li class="swat-menu-description">{% trans "Join a multiplayer game." %}</li>

        <p class="swat-menu-gray-thing"></p>
        <li><a class="swat-menu-heading" href="{% url 'tracker:search' %}">{% trans "Search" %}</a></li>
    </ul>
</div>

<div id="swat-main-container">
    <div id="swat-main">

        <div class="swat-box">
            <div class="inner text article-list">
                {% for article in article_list %}
                    <div class="article">
                        <div class="float">
                            <div class="left title underlined">{{ article.title }}</div>
                            <div class="right gray">{{ article.date_published|naturaltime }}</div>
                        </div>
                        <div>{{ article.text|markdown }}</div>
                        {% if article.signature %}<div class="right space-top">{{ article.signature }}</div>{% endif %}
                    </div>
                {% empty %}
                    <div class="center">{% trans "No news so far."%}</div>
                {% endfor %}
            </div>
        </div>

        {% if summary.object_list %}
        <div id="main-featured-players" class="swat-box">
        <div class="header">{{ summary.title }}</div>
            <div class="inner">
                <div class="float">
                {% for object in summary.object_list %}
                    <div class="left width33 space-bottom bigger">
                        <div class="title undecorated gray">{{ object.title }}</div>
                        <div class="float">
                            <div class="left">{% show_profile_picture object.profile 100 %}</div>
                            <div class="left space-left">
                                <div>{% show_player object.profile %}</div>
                                <div class="space-top tiny">{{ object.points_translated }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if featured %}
        <div id="main-featured-games" class="swat-box">
            <div class="header">{% trans "Featured Games" %}</div>
            <div class="inner swat-game-list">
                {% for game in featured %}{% show_game game %}{% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock swat_frame_content %}
