{% spaceless %}
{% load i18n %}

{% ifequal mapname "A-Bomb Nightclub" %}
{% blocktrans %}We're being called up for a rapid deployment at an ongoing shots fired situation at the A-Bomb nightclub. At least four gunmen, likely more, are exchanging shots with each other. They don't appear to be actively attacking civilians, or attempting to hold hostages, although we have reports that there are multiple wounded victims from crossfire. Witness reports are confused, and in some cases conflicting.

We have both Caucasian and Hispanic shooters, shooting along racial lines. All of them appear to be young adult males.

We have two possible entries: the front door, past the ticket booth, and a back alley loading zone. We have a rough sketch of the layout from an off-duty bartender; give it a once over, but don't trust it too much.

Most of the patrons made it out; however, there are still civilians holed up in there. We know some of them are wounded from witness reports. The perimeter is still reporting sporadic gunfire inside, and the paramedics won't go in until we've cleared the building. You need to get in there and bring order to chaos by locating and arresting the gunmen. In addition, you need to locate and secure for evacuation all remaining civilians, especially the wounded. Review the information, choose your entry, and get your gear together. It's time to go to work.
{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "Children of Taronne Tenement" %}
{% blocktrans %}Ok, men, what we have here are some dangerous headcases, to themselves and to their neighbors. Approximately an hour ago we got a tip from a public phone that some cultist nut-jobs calling themselves the Taronnians intend to blow their house sky high, taking a chunk of the neighborhood with them.

The detectives ran the paper trail, which uncovered disturbing deliveries to the Taronnians. Recent purchases included several suspicious chemicals, as well as an ominous amount of fertilizer; we're taking this one very seriously. Our caller didn't give a time or date, and hung up before we could get anything else from them. We assume our leak is a recent break from the cult; we are checking relatives to see if an ex-cultist has returned home, but that hasn't panned out yet. Since our best information indicates there's imminent danger, we're not waiting. Detectives attempted to serve the warrant by surrounding the location and calling the suspects out. They received no response whatsoever. 

About the Taronnians. They broke off from a separatist group up in Idaho, and followed their leader, Andrew Taronne, out here. Their official name is something like the Children of Taronne; they view Taronne as a combination all-knowing guru and prophet. They showed up here about three years ago, used cash to purchase an old apartment building needing serious rehab, and moved into it en masse. They only leave the building in groups of three or more, and they refuse entrance to any outsiders. 

Anything they're doing was ordered by Taronne, which means he's the one we need to talk to. However, Taronne never leaves the house, so we'll be going in after him. The group they split from believes in strong self defense, and there's no reason to think the Taronnians have changed that tenet. Expect armed resistance, and don't be surprised if even the unarmed cultists are stubborn about surrendering. Keep your eyes out for any children belonging to members of the cult.

The building was a standard apartment building before the Taronnians moved in, but they may have altered it. The floor plans are a guideline. Expect to be surprised. Assume they have taken no precautions with their explosives. A careless bullet might cause some unwanted casualties, so put some thought into your gear choices for this assignment.
{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "DuPlessis Diamond Center" %}
{% blocktrans %}We have another tough one. Just before closing time, the DuPlessis Diamond Center was broken into. The suspects drove a truck through the main security doors into the lobby. The building's alarm was triggered immediately. Witnesses report multiple suspects, armed with machine guns and wearing body armor, entering the building. Witnesses also report they have not seen any of the wholesaler's employees exit the building, although it was still open and security personnel were on duty.

The DuPlessis office building is built much like a small fort. Most areas are under constant video surveillance. A separate security system and metal detector guards access to the vault. The vault door has a time lock; it locks at 1800 every night, and can't be reopened until office hours start the next day at 0900. Note that the alarm company has disabled the time lock on the door for us, in case the gunmen are hiding inside of it. The building's phone lines were disabled by the suspects. 

DuPlessis is a wholesaler; they deal mainly in raw stones. This means they haven't been cleaned or cut, and they also aren't registered. However, they're harder to move; you can't take these down to the local pawnshop. This week, DuPlessis was holding a shipment of finished jewels. I don't think the timing is a coincidence. Our suspects probably have ties to black market purchasers outside of the country, since even the finished gems are a lot of gems to move.

Our suspects have automatic weapons and body armor, so they're ready for a fight. We don't know how they intended to breach the vault, which should have locked automatically when the alarm went off. One possibility is inside help, so stay on your toes. Most, if not all, of DuPlessis employees are still inside. We don't know their current condition. Study the floor plans, choose your entry and plan your assault: but don't take too long.
{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "Fairfax Residence" %}
{% blocktrans %}Get ready, men, this is a tough one. Our target Lawrence Fairfax is the number one suspect in a string of grisly homicides. A bit of review: over the last year and a half, seven women, all of them studying at the state university, disappeared. Their remains, showing signs of torture and dismemberment, reappeared anywhere from a week to three weeks later. The killer was careful; the task force forensic team was unable to get a useful DNA match from any of the bodies.

That changed with the most recent find. Another victim was located earlier this morning by a local laborer. Some of the DNA scrapings from her nails match one of the men being investigated by the task force: Lawrence Fairfax.

There's a complication: another student, Melinda Kline, went missing sometime around 2000 on October 18th. That was six days ago. If Fairfax has her, and if he's following the profile, chances are good she's still alive. Rescuing her is your first priority, which is why we're going in with no warning.

About our suspect. Fairfax is employed as a temporary carpenter and works off and on at the University. No police record, but court records show a pair of expired restraining orders against him. He's been suspended from a recent jobsite for stealing supplies. Fairfax's coworkers don't say much about him; he keeps to himself. He's been at the law library multiple times, most notably on the days before the disappearance of three of our victims, including Melinda Kline. A police interview with him was inconclusive; but the detective responsible did acquire a DNA sample from a used tissue. 

Fairfax was seeing a psychiatrist when he was laid off; we've been unable to access his records. The psych warned us that Fairfax may have fortified his living areas. Be alert for traps, especially in spaces only Fairfax uses. He lives with his mother, Gladys Fairfax. She's a recluse, and due to health problems rarely leaves the house. We don't have reason to believe she's involved, but stay on your toes.

Fellas, seconds may be the difference between life and death for Melinda Kline. Study the layout, choose your gear, get moving.{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "Food Wall Restaurant" %}
{% blocktrans %}Okay guys, listen up. OCID (Organized Crime Investigation Division) has spent a lot of time setting this one up, and they've asked for our help serving the arrest warrant. For the last two weeks, the Food Wall Restaurant has been under close surveillance. We believe the owner, one Lian Niu, an experienced gunsmith, deals in the illegal modification of firearms, in this case, fabricating custom high-volume magazines. Niu maintains a residence above the restaurant, and does his business there. He's been questioned about illegal arms before, but walked. 

Ten minutes ago, Detective Sheary sighted Alex Jimenez entering the restaurant. Look at your files; Alex Jimenez, also known as 'The Knife', is a hit man with Columbian connections. He's a key suspect in multiple homicides over the last year and half. Jimenez should be considered armed and dangerous.

Sheary believes that Jimenez is presently inside the business, having modifications made to a MAC-10 submachine gun used in a recent homicide. We want the evidence intact, so we can't give Jimenez and Niu any warning. The restaurant's patrons and employees will still be in the building when you go in. As always, target ID.

Your first priority is, of course, to avoid any civilian injuries; but after that, secure the gun in Jimenez's possession. OCID is looking forward to having a long talk with both Jimenez and Niu - and that gun is just the thing to make them chatty. So take a careful look at the floorplans, plan your entry and gear up.
{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "Mt. Threshold Research Center" %}
{% blocktrans %}If you haven't heard of the Army of Faith, here's your introduction. A bit after 20 hundred hours a group of them broke into the Hologen research facility at Mount Threshold, closely affiliated with Mount Threshold University. A couple of patrol cars responded quickly to the initial alarm, and the activists were trapped inside. Unfortunately, trapped along with them are the building's late working scientists and graduate students. The suspects have already released a statement declaring their willingness to become martyrs, and we have evidence of their willingness to make martyrs out of others. It's a very touchy situation, with the potential to get worse.

About the Army of Faith. They've been around for about two years, and have claimed credit for bombing research facilities doing work with stem cells and cloning technology. Don't make the mistake of thinking of them as kooks. Whatever they believe, they are also well armed, well trained, and dedicated to their cause. They've sent - and acted on - death threats to leading researchers in both fields, and this is not the first institution they've invaded. 

We think they intended the same sort of high damage, high speed raid at Hologen. However, university police were nearby, and acted quickly to contain them. Things are still confused enough that we don't know how many civilians are still in there, and we only have rough estimates on the number of suspects. 

Hologen is active in DNA cloning research, and we believe that is why they were targeted. Our suspects are led by Jean Trouffant. He is one of the major operatives in the Army of Faith. Trouffant was wanted for bombing abortion clinics, before going underground and reappearing with the Army of Faith. We don't have an accurate count of how many gunmen he has with him, but it's at least seven or eight, from eyewitness reports.

One of the first things the Army of Faith did was take down the security system, so we don't know how many civilians are inside. The suspects have named so far only Dr. Theodore Sturgeon as a hostage. We believe he is in imminent danger from the suspects, as one of Hologen's key researchers. As always, your first priority is to rescue him and get any other civilians out of there safely. However, you should also keep your eyes open for Sturgeon's briefcase, which has contacts for other researchers around the world. In the Army of Faith's hands, those documents become an open season list. Study the location and your opponents, choose your gear carefully, and get in there. There's a lot riding on this one.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "Northside Vending" %}
{% blocktrans %}This one's a little sticky. Vice has been keeping an eye on Northside Vending and Amusements for the last three or four weeks. They've been building a case against an alleged bookmaking operation going on in the basement of the business. Undercover detective Jeremy Walsh has been working closely with the suspects, and today received an invitation to enter the bookmaking area.

All went smoothly until Walsh was out of sight. Walsh's wire reported that he was still talking to the suspects, who showed no evidence of suspecting him. Less than ten minutes later, there was a sudden burst of static, and then Walsh's wire went dead. If everything was going as expected, Walsh would already be back, since he was supposed to go in, place one bet, and come right back out. With no way to determine Walsh's actual state, we're assuming he's in danger and it's time to go in after him. 

We know at least three individuals are present. The first, Louie Baccus, is the owner of the business. The other two are Allen Kruse and Simon Gowan. Kruse and Gowan are believed to be the movers behind the bookie operation, with Baccus providing cover and space. Vice believes there are additional suspects inside, acting as bookies and runners. Numbers are unknown, but could go as high as ten suspects total. That's one reason Walsh was sent in, to determine the exact number of players. 

Kruse and Gowan have extensive records, ranging from petty larceny to assault with a deadly weapon. Assume both are armed and dangerous. Baccus is an unknown, but given his compatriot's histories, better to assume he is armed as well. Note that Walsh's last recorded statement was one of surprise at the size of your setup. Sounded like he was impressed, which can't mean anything too good for us. 

We have a layout for the shop, but we don't have anything on the basement. We know it's accessed through the storage areas, but we don't know anything about the bookie's territory. Keep your eyes open; there could be any number of surprises. Time to get Detective Walsh out, and get the suspects under control. Choose your gear carefully and move out.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "Old Granite Hotel" %}
{% blocktrans %}Ok, men, this one's a zoo, and it isn't going to get any better. The self declared militia group America Now has taken real estate heir James Betincourt Junior and Lawrence Adams, his general contractor, hostage. Apparently they were touring a current project, the Old Granite Hotel, and were taken while inspecting Adams' work. Now the suspects are holed up on the top two floors of the hotel, demanding twelve million dollars ransom by midnight. They claim that Betincourt Investments owes this as a downpayment on their debt to the American People.

America Now is a small but active domestic militia group. They are fiercely isolationist, opposing immigration, free trade, and foreign owned interests. Most of their previous actions have been against foreign owned properties, either sabotaging them in the building stage or engaging in serious vandalism, making the properties too expensive to maintain. This is their first kidnapping, and it may indicate a shift in the group's tactics. Given the public nature of the incident, the group is clearly looking for publicity as well. We've spoken with the media, and received some co-operation; however, it's not clear how long that will last.

Expect the America Now suspects to be well equipped, and to act as a group, but their inexperience with hostages may make them even more dangerous to the civilians. Take extra care.

Now...on to the victims. James Betincourt Junior is the son of the CEO and majority owner of Betincourt Investments, a French based property development company. Six months ago, they purchased the Granite out of bankruptcy for twelve million dollars, and have been renovating it ever since. Junior has been in charge of the renovations, and was doing an inspection of the renovation work when he was captured. Lawrence Adams is the general contractor and the architect in charge of doing the renovation work. 

The suspects are on the top two floors of the hotel, the sixth and the seventh. You'll find the blueprints on the board. We've cut power to the elevators, and one of them is trapped between the fifth and sixth floor. You can either go up the stairs, or down the elevator shaft. Recent gunshots were reported coming from the seventh floor, so it's time to go in.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "Qwik Fuel Convenience Store" %}
{% blocktrans %}We're looking at a barricade/hostage situation, with at least three hostages. Dispatch received a 911 call at around 0600. A commuter pulled in to get gas and pulled out again when she noticed an armed woman coming out the front door. She called 911 on her cell phone. The first officers on the scene observed multiple gunmen, number unclear, and at least one unarmed civilian inside. When the gunmen threatened the civilian, they backed off and set up a perimeter.

So far we have one likely ID: Alice Jenkins. She's been in rehab for oxycodone addiction. Oxycodone is an opiate similar to heroin, equally addictive. It's prescribed legally as a Schedule II drug, making it possible for any idiot with a falsely obtained prescription to turn dealer. It sells for up to eighty dollars a pop on the street.

Knowing Jenkins, this is probably a bungled robbery for drug money, possibly related to a rash of recent convenience store hits. She and her cronies didn't intend to take any hostages, and they don't know what to do with them. That makes them more dangerous, since we can't predict what they might do, and they've stopped talking to the negotiator. Given their erratic behavior, at least some of the suspects may be high. They are armed with handguns, and we have visual confirmation of three suspects so far. There may be more. 

As far as the hostages go, we believe there are three: Kim Dong Yin, Heidi Rosenstein, and Willis Fischer, employees at the station. There might be additional customers, but it's unlikely. Be extremely careful when you go in. You will have high ground support at your two entry options. Given the recent spate of gunfire, we can't wait any longer; it's time for a tactical solution. Study the situation, gear up, and let's move.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "Red Library Offices" %}
{% blocktrans %}Just after 1400 this afternoon, multiple gunmen stormed the offices at the Wainwright Mill Center building. They shot their way through several of the businesses, until getting pinned down by patrol in one of the offices.

This started with an attempted bank robbery at the Community Savings and Loan. However, the suspects tripped the alarms early in their attempt, alerting both the bank's security and local police. Instead of attempting to flee, they seem to have tried to continue to break into the bank, but were foiled by the vault security.

When confronted by security, the suspects shot two of them, and then fled. After a brief vehicle pursuit with patrol officers, the gunmen crashed into the offices at Wainwright Mill Center and took refuge in the Red Library office. Patrol pulled back and established a perimeter. 

Red Library is a software company, specializing in data storage. Its employees often work on Saturdays, and so we suspect that that was the first unlocked office the gunmen found. Unfortunately, that also means the office was occupied when they went in.

Negotiators have been talking with them since about 1530. Overall estimation is that while these guys are heavily armed, they don't really know what they are doing. So far, the suspects have demanded an escape route and five million dollars, in exchange for their multiple prisoners. Negotiators have managed to get four hostages freed, in exchange for two gas masks and two armored vests. The freed hostages can't give us an accurate count of employees, since no one knows how many employees were working today. The recent spate of gunfire means it's time to go in and rescue the rest of the hostages.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "St. Michael's Medical Center" %}
{% blocktrans %}Alright, men, we have an international incident on our hands. Hyun-Jun Park is a South Korean diplomat. Earlier today he was attacked by six gunmen while exiting a restaurant. Mr. Park was injured in the attack, although his personal security got him to safety. The gunmen escaped after the initial attack. Mr. Park was routed to St. Michael's Medical Center for emergency treatment. Since there wasn't time to secure the hospital, Mr. Park's security accompanied him into the patient ward. 

Mr. Park is one of the senior officials attached to the South Korean embassy; he has been addressing the United Nations for the last two days during the current round of reunification talks. Mr. Park is a major advocate in favor of reunification; he is one of the primary voices in the South Korean delegation. We assume this attack is related to his political intentions, but we don't know who was behind it. Whoever they were, they were very well equipped and well organized, ambushing Mr. Park in a location not on his official travel itinerary.

Now St. Michael's has been rushed by a group of gunmen; presumably the same ones who attacked Mr. Park earlier. They are well armed, and are moving straight through the hospital in an attempt to locate their target. They are not interested in taking hostages, and they've been brutal in their attack on the hospital. Choose your entry, get your gear together, and get in there.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "The Wolcott Projects" %}
{% blocktrans %}OCCB (Organized Crime Control Bureau) has a job for us. They've been pursuing a flow of illegal arms into the city for about a year, and they've got something solid to move on. Our suspect is Hadeon Koshka, a Ukrainian citizen who travels to the States frequently. His visits often overlap with the appearance of new Russian arms on the streets.

Tonight's our lucky night. Undercover detective Clark Jennings has spent the last two months infiltrating Koshka's operation. He contacted OCCB earlier today with the time and place for the meet. There's a major deal going down today, in the abandoned tenement at 1302 Blakestone Avenue. Detective Jennings notified his contact as soon as he could, but because the notice is so short, we don't have time to call in the ATF for this bust. Strictly speaking, arms dealing is their territory, but in this case, we're in the right place at the right time to stop it, and they aren't.

A bit of background. The Soviet Union maintained weapons caches and military bases in many locations. When it collapsed, many of those caches either 'disappeared' or were abandoned. Arms trading, both legitimate and black market, is a significant source of income in the region, and the local governments are ambivalent about stopping it. So it's up to us to stop these guns from reaching our streets.

The meet is at 1302 Blakestone, an abandoned HUD building. We don't have a layout, but we do have outlines of the area, thanks to Jennings. Koskha should be in the room with the weapons cache, along with his buyer. Since there's a lot at stake in this, we expect both groups to bring backup. Expect armed and dangerous suspects both in the building and on the grounds. Detective Jennings will be present undercover. He won't be able to break cover safely until you're in control of the situation, so keep your eyes out for him. Study your targets carefully, choose your gear, and get ready.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "Victory Imports Auto Center" %}
{% blocktrans %}Here's what we've got. We are needed for rapid deployment at 29th and Arlington, the Victory Imports Auto Garage. Looks like a botched vehicle theft has turned into a barricaded situation.

32 Adam, responding to a 911 call, interrupted two individuals in the process of stealing a car. Upon being ordered to surrender, they fired upon the officers and retreated into the main building. Precise numbers are unknown, but patrol reports seeing at least 4 individuals, all male. They're armed, and we believe some of them have machine guns. In addition, they have a hostage in there with them: Gary Altman. Altman is a mechanic for Victory Imports, and was apparently working late. He's the one who placed the initial 911 call, which was cut off short. Further attempts to contact him have failed.

We don't have a positive ID on the suspects at this time. Patrol reports seeing young men, late teens to early twenties, light skinned, wearing street clothes; jeans and shirts -- but we don't have sufficient evidence to confirm any specifics. As far as M.O. goes, this particular theft is a new one. No local garages have reported similar raids. Looks like we get to nip this one in the bud.

Patrol attempted to call them out, and got no response other than scattered gunfire. However, once the negotiators contacted them, they were more willing to talk. They've requested food and body armor; both requests have been denied since they're either unwilling or unable to free Altman. At 0330, the suspects issued an ultimatum demanding to be allowed to go free. Further communications with the suspects have gotten shorter and more strident. Negotiations are at an impasse, and they're concerned for Altman's safety, since it looks like the suspects are getting desperate. Time for us to end the standoff.
{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "-EXP- Department of Agriculture" %}
{% blocktrans %}Okay, quiet down and listen. 

The Department of Agriculture has its local offices in the Government Plaza on Geddy Avenue. Approximately 50 minutes ago the building was entered by a group of suspects armed with assault rifles and Improvised Explosive Devices, IEDs.

It appears their plan was to raid the office, plant the bomb and then escape, but someone messed up. The bomb detonated prematurely causing a fire on the lower floor. The fire department attended and tried to contain the fire, but they didn't realize the bad guys were holding hostages on the upper floors. When the fire crew were shot at, they retreated and called the local precinct who called the negotiation team.

It seems these guys are local farmers who have a beef with the government's policies on genetically-modified crops. They appear far better armed than your average farmer. Spotters have reported seeing them carrying M1s and wearing body armor - somebody has sold them their gear, probably the same somebody who sold them the explosives they used.

The negotiators haven't made much headway here. They've traded two hostages for two gas masks, but other than the occasional anti-government rant, contact with the suspects has been minimal.

They haven't made any direct threats against the hostages but we're assuming their intent was to empty the building and then destroy it. But considering the clumsiness of their actions so far, we're not waiting for them to make another mistake and get someone killed.

Choose your gear and get ready to deploy.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "-EXP- Drug Lab" %}
{% blocktrans %}Okay men, this one's tricky so pay attention. Three hours ago dispatch received an anonymous tip-off that a new drug lab is operating on Tovanen street. Surveillance has revealed a sophisticated set up - hydroponics, large-scale cooking and drying equipment, this one's got it all.

The anonymous caller claimed that the Stetchkov clan is running the lab. It's likely the caller is a member of an opposing gang and if so, it's a real breach of the unwritten law that says criminals don't snitch on one another. The Stetchkovs must have really ruffled some feathers. Detectives have been trying to locate the head of the clan, one Kiril Stetchkov, but he seems to have disappeared off the map after someone tried to kill him by blowing up his car. Seems he's a popular guy.

Our goal is to shut the lab down and arrest anyone who might help the detectives build a case against the Stetchkovs. Surveillance reports seeing numerous suspects armed with machine pistols and shotguns. Most of the lab isn't visible from outside so we can't be sure of numbers, but be aware that the lab is likely to contain a number of unarmed workers.

The lab has some seriously hazardous substances lying around, so watch your fire. You don't want to breathe in any of this crap, and we sure don't want a fire.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "-EXP- Fresnal St. Station" %}
{% blocktrans %}The shit has really hit the fan. Two gangs, one of them definitely the Stetchkovs, are going toe-to-toe in the Fresnal Street Subway Station. We have reports of multiple suspects, heavily armed and a large number of civilian casualties.

A transit cop named Wilkins called in the incident. He counted at least ten individuals, some armed with assault rifles and wearing body armor. Dispatch lost contact with him shortly after he made the call - he may have been injured.

Witnesses say two groups of men opened fire on one another on the platforms during peak hour. Most of the commuters fled but some were caught in the crossfire. It's likely others are hiding.

After the initial skirmish the suspects split up and moved into the areas surrounding the platforms - maintenance tunnels, restrooms, it's like a maze down there. Spotters are still reporting hearing gunfire, so the fight is still going on.

This has already gone too far. We can't let this go on any longer and risk more civilian casualties, or sit by while innocent people bleed to death. Our task is to shut this thing down; neutralize the suspects, rescue the civvies and help an injured officer. Get your gear together and be ready to go in three minutes.
{% endblocktrans %}
{% endifequal %}


{% ifequal mapname "-EXP- FunTime Amusements" %}
{% blocktrans %}Okay, listen up. We've got a shots fired situation. 911 received a call from the owner of the FunTime Amusement Arcade on Gower Street. Detectives from the 12th precinct tell us that the arcade is a known haunt for drug dealers. Witnesses say an argument broke out between Javier Arias, a local dealer and a group of unidentified men. It quickly escalated into violence when Arias' offsiders drew their guns. Looks like we could have a turf war on our hands. 

Most of the civilians fled as soon as the shooting started, but some may still be inside. This is a busy arcade at this time of the day, so check your targets. The police are also pretty unpopular in this neighbourhood, so be prepared for resistance from any civilians you encounter.

We've been unable to locate the owner, Oscar Bogard. He may still be trapped inside. His 911 call was cut off abruptly.

We have to put a stop to the shooting, but this is also a chance to put away a lot of bad guys. To do that we need to gain as much evidence as we can. We don't want any of them to flush the drugs they're carrying, particularly Arias.

Choose your equipment and get going.
{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "-EXP- Sellers Street Auditorium" %}
{% blocktrans %}Listen up. Approximately 45 minutes ago a group known as Citizens Against Satanic Music or 'CASM' stormed a rock concert at the Sellers Street Auditorium. They fired a barrage of shots injuring several audience members and creating a panic. The band, called Devil's Playthings, fled the stage but was closely followed by the suspects. They claim to now have the band hostage. 

CASM have long been a vocal opponent of rock music, occasionally clashing with police during protests, but they've never resorted to this level of violence before. They've been sending the band hate mail for some time, and it looks like the band's latest album Die For The Devil pushed them over the edge. They want it taken off store shelves.

These guys aren't hardened criminals - they're sloppy and badly organized, but they're also extremely well equipped. Looks like somebody sold them some guns and they got delusions of grandeur.

Witnesses report seeing at least four suspects armed with automatic weapons and wearing disguises. We're guessing there are several civilians inside either injured or hiding. We're taking the suspects claim that they're holding the band hostage seriously. These guys are nervous amateurs and that makes them more likely to hurt or kill an innocent civilian, either deliberately or accidentally.

Choose your equipment and be ready to move out.
{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "-EXP- Sisters of Mercy Hostel" %}
{% blocktrans %}Let me have your attention team. About two hours ago a group of armed men attempted to rob the post office at the corner of Watts and Lonsdale. They were confronted by an armed security guard and when he opened fire, they ran. 

The guard called 911 and a nearby patrol car responded, spotting the suspects on foot on Newbury St. Seems their getaway driver panicked and drove off without them. When the officer ordered them to surrender they opened fire and retreated into a halfway house, Our Sisters of Mercy.

The halfway house provides temporary accommodation for older men, often just out of prison or recently released from mental care. A few of the residents fled once the gunmen entered, but one of the sisters who runs the house says at least six people are unaccounted for. That means any civilians inside may be confused, scared and uncooperative. Check your targets carefully.

The suspects appear well armed but disorganized. The security guard reported seeing at least five individuals carrying automatic rifles and shotguns, and says they may have been wearing body armor. The word on the street is that it's the Stetchkov clan who've provided the guns, but they don't normally handle firearms.

The police negotiator has been trying to communicate with the suspects, but as yet they haven't responded. There's been some sporadic gunfire from within the building, which is why we're going in.

Suit up and get ready.
{% endblocktrans %}
{% endifequal %}

{% ifequal mapname "-EXP- Stetchkov Warehouse" %}
{% blocktrans %}Okay, listen up. I know you're tired but we have one more job to do tonight. Following the incident on the subway, Judge Rainer issued an arrest warrant for Kiril Stetchkov, the head of the Stetchkov clan.

The Stetchkov's own a Warehouse on Harrington road and it's reportedly used as a place for clan members to lie low. Undercover surveillance has been watching the building for several days, and they believe Stetchkov and his brother may be there right now. He's likely been hiding out since the attempt on his life two weeks ago. 

Our job is to arrest or neutralize all the Stetchkov gang members in the building and to arrest Kiril Stetchkov. With Kiril under wraps, we can restore some order to the city.

The Stetchkovs have already shown that they're willing to take it to the next level. You can expect well-armed, well equipped suspects, and since they'll be fighting on their own turf they'll be less likely to surrender.

Just one more thing. Remember; we're professionals. Check your targets, watch out for your partner and keep your eyes and ears open.

Let's get it right and get it done.
{% endblocktrans %}
{% endifequal %}

{% endspaceless %}