{% spaceless %}
{% if page_obj.paginator.num_pages > 1 %}
<div class="swat-page-range">

    {% if page_obj.has_previous %}
        <a class="previous" href="?{{ filters.urlencode }}&page={{ page_obj.previous_page_number }}">&nbsp;</a>
    {% endif %}

    <span>{{ page_obj.end_index }}/{{ page_obj.paginator.count }}</span>

    {% if page_obj.has_next %}
        <a class="next" href="?{{ filters.urlencode }}&page={{ page_obj.next_page_number }}">&nbsp;</a>
    {% endif %}

</div>
{% endif %}
{% endspaceless %}
