{% load i18n tracker %}
{% for procedure in procedures %}
    <div class="table-row">
        <div class="left">{{ procedure.name|procedure }}</div>
        <div style="width: 25%;">{{ procedure.status }}</div>
        <div style="width: 25%;">{{ procedure.score }}</div>
    </div>
    {% empty %}
    <div class="table-row">
        <div class="left">{% trans "No Penalties Deducted!" context "gamedetail" %}</div>
        <div style="width: 25%;">&nbsp;</div>
        <div style="width: 25%;">0</div>
    </div>
{% endfor %}
<div class="swat-coop-total-row table-row">
    <div>&nbsp;</div>
    <div>{% filter upper %}{% trans "Total" context "gamedetail" %}{% endfilter %}</div>
    <div class="{% if score >= 0 %}swat-green{% else %}swat-red{% endif %}">{{ score }}</div>
</div>