{% load tracker i18n %}

<div class="swat-team-table">
    <div class="table-header">
        <div class="swat-name-cell">{% ifequal team 0 %}{% trans "Officer" %}{% else %}{% trans "Suspect" %}{% endifequal %}</div>
        <div class="pict-score"></div>
        <div class="pict-arrests"></div>
        <div class="pict-arrested"></div>
        <div class="pict-kills"></div>
        <div class="pict-deaths"></div>
        <div class="pict-objectives"></div>
        <div class="table-cell-small">&nbsp;</div>
    </div>
    {% for player in players %}
    <div class="table-row swat-player-row" onclick="window.location.href='{% profile_url player.profile %}';">
        <div class="swat-name-cell">
            <a class="{% if player.vip %} swat-green{% endif %}" href="{% profile_url player.profile %}">{{ player.name }}{% if player.vip %} ({% trans "VIP" %}){% endif %}</a>
        </div>
        <div>{{ player.score }}</div>
        <div>{{ player.arrests }}</div>
        <div>{{ player.arrested }}</div>
        <div>{{ player.kills }}</div>
        <div>{{ player.deaths }}</div>
        <div>{{ player.special }}</div>
        <div class="table-cell-small space-left space-right">{% show_country player.country %}</div>
    </div>
    {% endfor %}
    <div class="table-row-empty">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="table-cell-small"></div>
    </div>
</div>